{% extends 'base.html.j2' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% set title=username %}

<!-- 
  win color: Pakistan Green: Hex: #007000, RGB: (0, 112, 0)
  loss color: Amaranth Red: Hex: #D2222D, RGB: (210, 34, 45)
-->

{% block body %}
<div class="content">
  <div class="flexbox-container flexbox-container1 ">
    <div class="flexbox-item flexbox-item-1">
      <h2>{{ player.username }} <img src="{{ url_for('static', filename=character_image_location) }}" title="character_icon" alt="character_icon" style="height: 30px; width: 30px;"></h2>
      <p>{{ player.connect_code }}</p>
      <h5>Current Rating: {{ player.current_rating | int }} <object data="{{ url_for('static', filename=rank_icon_location) }}" alt="rank_icon" style="height: 30px; width: 30px;"></object></h5>
      <h5>Ranked: <span style="color: #00FF00">{{ player.ranked_wins }}</span>/<span style="color:#FF0000">{{ player.ranked_losses }}</span></h5>
      <h5>Unranked: <span style="color: #00FF00">{{ wins }}</span>/<span style="color:#FF0000">{{ losses }}</span></h5>
      <h5>Total SLP Files: {{ total_games }}</h5>
    </div>
    <div class="flexbox-item flexbox-item-2">
      <div class="flexbox-container  flexbox-container4">
        <div class="flexbox-item flexbox-item-3">
          <div class="flexbox-item chartBox">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="flexbox-container flexbox-container2">
        {% if slippi_replays|length %}
          <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'ranked')" id="defaultOpen">Ranked</button>
            <button class="tablinks" onclick="openTab(event, 'unranked')">Unranked</button>
            <button class="tablinks" onclick="openTab(event, 'direct')">Direct</button>
          </div>
          {% for game_type in games %}
          <div id="{{ game_type.name }}" class="tabcontent">
            {% if game_type.games %}
              {% for replay in game_type.games %}
                {% set win = replay.winner_id == player.id %}
                {% set playersOverall = replay.get_player_overall_ordered(player.id)%}
                {% set players = replay.get_players_ordered(player.id)%}
                <div class="flexbox-item flexbox-item-second" id="match">
                  <div class="flexbox-container flexbox-container3" style="background-image: 
                      {% if win  %}linear-gradient(to right, rgba(0, 112, 0, 1.00), rgba(0, 112, 0, 0.10)), url({{ url_for('static', filename='images/stages/' + (replay.stage_id|lower | string) + '.png') }}); 
                      {% else %}  linear-gradient(to right, rgba(210, 34, 45, 1.00), rgba(0, 112, 0, 0.10)), url({{ url_for('static', filename='images/stages/' + (replay.stage_id |lower | string) + '.png') }});
                      {%endif%} background-size: cover">
                    <div class="flexbox-item flexbox-player flexbox-player-left">
                      <h5>{{ playersOverall[0].player.username }}
                      <img src="{{ url_for('static', filename=replay.get_player_info_ordered(player.id)[0].get_character_icon()) }}" title="character_icon" alt="character_icon" style="height: 80px"></h5>
                    </div>
                    <div class="flexbox-item flexbox-player flexbox-player-middle">
                      <h5>{{ replay.datetime.strftime('%m/%d/%Y - %I:%M %p') }}</h5>
                    </div>
                    <div class="flexbox-item flexbox-player flexbox-player-right">
                      <h5><img src="{{ url_for('static', filename=replay.get_player_info_ordered(player.id)[1].get_character_icon()) }}" title="character_icon" alt="character_icon" style="height: 80px">
                      {{ playersOverall[1].player.username }}</h5>
                    </div>
                    <div class="detailPanel" style="background-color: 
                      {% if win  %} #444444;
                      {% else %} #444444; {% endif %}">
                      <button class="detailButton"><h5>+</h5></button>
                    </div>
                  </div>

                  <div class="flexbox-container" id="matchDetail">
                    <div class="flexbox-container matchInfoContainer">
                      <div class="flexbox-item playerMatchInfo leftPlayerMatchInfo">
                        <div class="statWrapper">
                          <div class="detail"> Kills: </div>
                            <div class="stat"> {{ playersOverall[0].kill_count }} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Openings Per Kill: </div>
                            <div class="stat"> {{playersOverall[0].openings_per_kill|float|round(1, 'common')}} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Damage Per Opening: </div>
                            <div class="stat"> {{playersOverall[0].damage_per_opening|float|round(1, 'common')}} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Damage Dealt: </div>
                            <div class="stat"> {{playersOverall[0].total_damage|float|round(1, 'common')}} </div>
                        </div>
                      </div>
                      <div class="flexbox-item playerMatchInfo rightPlayerMatchInfo">
                        <div class="statWrapper">
                          <div class="detail"> Kills: </div>
                            <div class="stat"> {{ playersOverall[1].kill_count }} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Openings Per Kill: </div>
                            <div class="stat"> {{playersOverall[1].openings_per_kill|float|round(1, 'common')}} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Damage Per Opening: </div>
                            <div class="stat"> {{playersOverall[1].damage_per_opening|float|round(1, 'common')}} </div>
                        </div>
                        <div class="statWrapper">
                          <div class="detail"> Damage Dealt: </div>
                            <div class="stat"> {{playersOverall[1].total_damage|float|round(1, 'common')}} </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          {% endfor %}
        {% else %}
            <div class="flexbox-item flexbox-item-second" style="padding: 10px;padding-top: 5px;">
              <div class="flexbox-container flexbox-container3">
              <h5>No SLP files found</h5>
              </div>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<script>
const datapoints = [
      {% for row in data_items %}
      {x: new Date('{{ row[0] | safe }}+00:00'), y: {{ row[1] | safe }} },
      {% endfor %}
];
</script>
<script src="{{ url_for('static', filename='js/elo_graph.js') }}"></script>
{% endblock %}
