.flexbox-container1 {
  border-radius: .7rem;
  min-height: 1000px;
}

.flexbox-item {
  margin: 10px;
}

.flexbox-item-1 {
  flex: 1 0 0;
  min-height: 1000px;
}

#myChart {
    border-radius: .5rem;
    min-height: 500px;
  }