
/*      
border: 3px solid #333;
background-color: #dfdfdf;
*/
.flexbox-container {
  display: flex;
  background-color: #333333;
}

.flexbox-container1 {
  border: 3px solid #222222;
  border-radius: .7rem;
  min-height: 1000px;
}

.flexbox-container2 {
  flex-direction: column;
  align-items: stretch;
}

.flexbox-container3 {
  background-color: #222222;
  border-radius: .5rem;
}

.flexbox-container4 {
  flex-direction: column;
  align-items: stretch;
}

.flexbox-item {
  margin: 10px;
  background-color: #333333;
}

.flexbox-item-1 {
  flex: 3 0 0;
  min-height: 500px;
}

.flexbox-item-2 {
  flex: 10 0 0;
}

#myChart {
  border: 3px solid #333333;
  border-radius: .7rem;
}

.chartBox {
  max-height: 125px;
}

.flexbox-item-3 {
  flex: 2 0 0;
  min-height: 125px;
}

.flexbox-player {
  flex: 2 0 0;
  background-color: rgba(0,0,0,0);
  height: 20px;
  align-items: stretch;
  margin: 0;
  min-height: 100px;
  padding: 10px;
}

.flexbox-player-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.flexbox-player-middle {
  text-align: center;
}

.flexbox-player-right {
  text-align: right;
}

.flexbox-item-second {
  min-height: 100px;
  flex-grow: 100%;
  border: 3px solid #222222;
  /*background-color: #222222;*/
  border-radius: .7rem;
}

.detail{
  display: flex;
  font-size: 12px;
  margin-left: 7px;
  color: #878787;
}

.stat{
  display: flex;
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: 7px;
}

.detailPanel{
  width: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



#matchDetail{
  margin-bottom: 5px;
  display: none;
  height: 300px;
}

#detailWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 5px;
}

p {
  line-height: 10px;   /* within paragraph */
  margin-bottom: 5px; /* between paragraphs */
}

div{
  display: block;
}

button{
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.button:focus {
  outline: none;
}
