:root {
  --rad: .7rem;
  --color-light: #fff;
  --color-brand: #fff;
  --font-fam: 'Lato', sans-serif;
  --height: 3.5rem;
  --btn-width: 4rem;
  --background-color: #695293;
}

canvas {
  background-color: white;
}

html {
  height: 100%; 
  box-sizing: border-box; 
  height: 100%; 
  font-size: 16px; 
}

body {
  background: #8972B3;
  color: #333333;
  margin-top: 5rem;
  height: 80%;
  color: white;
}

main {
  height: 100%;
}

nav {
  background-color: var(--background-color);
}

footer {
  background-color: var(--background-color);
}

a {
  color: white;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.flexbox-container {
  display: flex;
}



