body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  color:aliceblue;
  background-image: url("fixtures/SSBU-Pokémon_Stadium.png");
  background-position: center;
  background-attachment: fixed;
}
div {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 200px;
}
