{% extends 'base.html' %}

{% block body %}
<h3>About</h3>

<h4>What is UpSmash</h4>
<p>UpSmash is a project dedicated to bringing you the best stats possible from Super Smash Bros Melee. This includes a variety of sources, including Slippi ranked data, Slippi files, and comparisons to the broader community.</p>

<h4>Who works on UpSmash</h4>
<h5>Chris Schmitt </h5>
<p>Has been a member of the Melee community since 2015. Been working on passion projects around Melee since 2018 and started working on a Slippi file database in late-2022.</p>
<h5>Ryan Yueing</h5>
<p>A newer member of the community, Ryan has been instrumental the start of UpSmash, including planning, working on backend tasks, and database layouts.</p>

<h4>Socials</h4>
<a href="https://twitter.com/ChrisSchmitt98?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ChrisSchmitt98</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p><a href="https://discord.gg/e2387s8neq"><img src="{{ url_for('static', filename='images/discord.png') }}" width="200" height="75"></a></p>

{% endblock %}