<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143658469-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143658469-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>UpSmash - {{ title }}</title>
    {% else %}
        <title>UpSmash</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top border-bottom">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">UpSmash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!--<a class="nav-item nav-link" href="/top_player_graph">Top Player Graph</a>-->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="container-lg">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block body %}{% endblock %}
        </div>
    </main>
    <!--<footer class="border-top py-3 my-4">
        <ul class="nav justify-content-center pb-3 mb-3">
          <li class="nav-item"><a href="/about" class="nav-link px-2">About</a></li>
          <li class="nav-item"><a href="/faq" class="nav-link px-2">FAQs</a></li>
        </ul>
        <p class="text-center">&copy; UpSmash, Inc. Data based on Slippi ELO and Slippi files.</p>
    </footer>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
