{% extends 'base.html' %}

{% block body %}
<div class="content-section">
    <img src="{{ url_for('static', filename='images/UpSmash-02-purple.jpg') }}" alt="UpSmash Logo" style="max-width: 100%; height: auto">
    <br>
    <div style="display: flex;align-items: center; justify-content: center;">
    <form action="/user" method="POST" enctype="multipart/form-data" role="search">
        <input id="search" name="connect_code" type="search" placeholder="Enter player Slippi tag" autofocus required />
        <button type="submit">
            <img src="{{ url_for('static', filename='images/search.svg') }}" width="25" height="25">
        </button>
    </form>
    </div>
</div>
{% endblock %}