{% extends 'base.html.j2' %}

{% set title="Top Player Graph" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top_player_graph.css') }}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block body %}
<div class="flexbox-container flexbox-container1 ">
  <div class="flexbox-item flexbox-item-1">
    <h1>Top Player Graph</h1>
    <div class="chartBox">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>


<script>
const datapoints = [
      {% for player, ratings in players_dict.items() %}
      {
        label: '{{ player }}',
        data: {{ ratings }}
      },
      {% endfor %}
];
const data = {
  labels: {{ graph_dates }},
  datasets: datapoints
};
</script>
<script src="{{ url_for('static', filename='js/top_player_graph.js/') }}"></script>
{% endblock %}